.page-home {
    .summary{
        margin-top : 200px
    }
}

.menu-main > ul > li > a {
    white-space: nowrap;
}

.intro {
    margin-top : 90px
}

.content h2 {
    padding-top: 50px !important;

    margin-top: 80px !important;
    padding-bottom: 30px;
}

.form-container.relative.w-full {
    max-width: 100%;
}